In [82]:
import pandas as pd
import numpy as np
import ast

df = pd.read_csv('../../first_prototype/International_v/dataset/corpus_parties_NE_polarity_26.10.csv', index_col='id')

words_in_title=[]
char_in_title=[]
words_in_text=[]
char_in_text=[] 
words_in_author_bio=[]
char_in_author_bio=[]
num_of_NE=[]
num_of_authors=[]
polarity=[]

Date=[]


countOfWords=0

In [83]:
features = ['title', 'text', 'author_bio', 'polarity', 'author']
for feature in features:
    df[feature]=df[feature].astype('str')

- Get number of words and characters in title, text, and author_bio
- Get number of NE andauthors,

In [84]:
for index, row in df.iterrows():
    
    #words in title
    countOfWords = len(row['title'].split()) if row['title'] !="nan" else 0
    words_in_title.append(countOfWords)
    
    #char in title
    countOfWords = len(row['title']) if row['title'] !="nan" else 0
    char_in_title.append(countOfWords)
    
    #words in text
    countOfWords = len(row['text'].split()) if row['text'] !="nan" else 0
    words_in_text.append(countOfWords)
    
    #char in text
    countOfWords = len(row['text']) if row['text'] !="nan" else 0
    char_in_text.append(countOfWords)
    
    #words in bio
    countOfWords = len(row['author_bio'].split()) if row['author_bio'] !="nan" else 0
    words_in_author_bio.append(countOfWords)
    
    #char in bio
    countOfWords = len(row['author_bio']) if row['author_bio'] !="nan" else 0
    char_in_author_bio.append(countOfWords)
    
    #num of NE
    countOfWords=len(row['NE'].split(","))
    num_of_NE.append(countOfWords)
    
    #num of authors
    countOfWords=0 if row['author'] =="nan" else len(row['author'].split(";"))
    num_of_authors.append(countOfWords)
    
    #polarity
    x=ast.literal_eval(row['polarity'])
    countOfWords=next(iter(x.values()))
    polarity.append(countOfWords)

The statistics

In [87]:
ndf = pd.DataFrame(columns=['words_title', 'char_title', 'words_text', 'char_text', 'words_bio', 'char_bio', 'polarity', 'num_authors', 'NE']
)

ndf['words_title']=words_in_title
ndf['char_title']=char_in_title
ndf['words_text']=words_in_text
ndf['char_text']=char_in_text
ndf['words_bio']=words_in_author_bio
ndf['char_bio']=char_in_author_bio
ndf['NE']=num_of_NE
ndf['num_authors']=num_of_authors
ndf['polarity']=polarity
ndf.head(3)

,words_title,char_title,words_text,char_text,words_bio,char_bio,polarity,num_authors,NE
0,7,46,818,4883,0,0,0.2,1,37
1,7,54,831,5126,25,175,0.0,1,34
2,10,73,1032,6153,10,62,0.6,1,27

In [108]:
ndf.describe()

,words_title,char_title,words_text,char_text,words_bio,char_bio,polarity,num_authors,NE
count,2964.000000,2964.000000,2964.000000,2964.000000,2964.000000,2964.000000,2964.000000,2964.000000,2964.000000
mean,10.779690,67.869096,986.074899,6107.618084,21.556680,141.670040,0.000405,1.107287,43.003711
std,3.181703,18.442175,1134.922661,7163.156792,16.257561,107.531052,0.356834,0.363674,58.259677
min,2.000000,10.000000,28.000000,161.000000,0.000000,0.000000,-1.000000,0.000000,1.000000
25%,9.000000,56.000000,514.000000,3150.750000,12.000000,80.000000,-0.200000,1.000000,20.000000
50%,11.000000,68.000000,771.000000,4746.500000,18.000000,123.000000,0.000000,1.000000,31.000000
75%,13.000000,79.000000,1103.250000,6806.750000,28.000000,183.000000,0.200000,1.000000,46.000000
max,28.000000,167.000000,11452.000000,73147.000000,307.000000,2053.000000,0.900000,8.000000,554.000000

In [111]:
ndf.median().apply("{0:.2f}".format)

words_title      11.00
char_title       68.00
words_text      771.00
char_text      4746.50
words_bio        18.00
char_bio        123.00
polarity          0.00
num_authors       1.00
NE               31.00
dtype: object

In [119]:
df['date'] = pd.to_datetime(df['date'])
df['date'].mean()
df['date'].median()
df['date'].std()
df['date'].describe()

/var/folders/c5/ytjr01311kv_dj29wddc_rk40000gn/T/ipykernel_82363/29585238.py:5: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['date'].describe()

count                    2964
unique                   1327
top       2014-11-05 00:00:00
freq                       12
first     2012-01-18 00:00:00
last      2017-08-17 00:00:00
Name: date, dtype: object